<%= form_for(@branch) do |f| %>
  <% if @branch.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@branch.errors.count, "error") %> prohibited this branch from being saved:</h2>

      <ul>
      <% @branch.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class='row'>
    <div class='col-md-4'>
	  <div class="field">
	    <%= f.label :name %><br>
	    <%= f.text_field :name , {:class=>'form-control'} %>
	  </div>
	  <div class="field">
	    <%= f.label :st_address %><br>
	    <%= f.text_field :st_address , {:class=>'form-control'} %>
	  </div>
	  <div class="field">
	    <%= f.label :apt_address %><br>
	    <%= f.text_field :apt_address , {:class=>'form-control'} %>
	  </div>
	  <div class="field">
	    <%= f.label :city %><br>
	    <%= f.text_field :city , {:class=>'form-control'} %>
	  </div>
	  <div class="field">
	    <%= f.label :state_id %><br>
	    <%= f.collection_select :state_id, State.order(:id),:id,:name ,{:include_blank => 'Select State'}, {:class=>'form-control'} %>
	  </div>
	  <div class="field">
	    <%= f.label :zip %><br>
	    <%= f.text_field :zip , {:class=>'form-control'} %>
	  </div>
    </div>
  </div>
  <div class='row'>
  	<div class='col-md-12'>
  	<%= link_to 'Back', branches_path, :class=>"btn btn-default" %>
    <%= f.submit  :class=>'btn btn-primary' %>
    </div>
  </div>
<% end %>
