<h4>Branches</h4>

<%= link_to '+ New Branch', new_branch_path %>

<table class='table table-hover'>
  <thead>
    <tr>
      <th>Name</th>
      <th>St address</th>
      <th>Apt address</th>
      <th>City</th>
      <th>State</th>
      <th>Zip</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @branches.each do |branch| %>
      <tr>
        <td><%= branch.name %></td>
        <td><%= branch.st_address %></td>
        <td><%= branch.apt_address %></td>
        <td><%= branch.city %></td>
        <td><%= branch.state.name %></td>
        <td><%= branch.zip %></td>
        <td><%= link_to 'Show', branch %></td>
        <td><%= link_to 'Edit', edit_branch_path(branch) %></td>
        <td><%= link_to 'Destroy', branch, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

