<p id="notice"><%= notice %></p>

<p>
  <strong>First name:</strong>
  <%= @employee.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @employee.last_name %>
</p>

<p>
  <strong>Middle name:</strong>
  <%= @employee.middle_name %>
</p>

<p>
  <strong>Mobile phone:</strong>
  <%= @employee.mobile_phone %>
</p>

<p>
  <strong>Email:</strong>
  <%= @employee.email %>
</p>

<p>
  <strong>User name:</strong>
  <%= @employee.user_name %>
</p>

<p>
  <strong>Role:</strong>
  <%= @employee.role %>
</p>

<p>
  <strong>Password:</strong>
  <%= @employee.password %>
</p>

<p>
  <strong>Package:</strong>
  	<%= form_tag("set_permissions", method: "post") do %>
  	  <%= select '', :boxes, @boxes.collect{|b|
	  	  	print_info = b.branch.name + '_' + b.locker.name + '_' + b.name
	  	  	[print_info, b.id]
  	      }, {:include_blank => false} , {:multiple => true, :size => 30} %><br />
  	  <%= submit_tag 'Set Permissions' %>
  	  <%= hidden_field_tag :id, @employee.id %>
  	<% end %> 
</p>

<%= link_to 'Edit', edit_employee_path(@employee) %> |
<%= link_to 'Back', employees_path %>
