<h1>Manage</h1>

Users | <%= @user_count %> | <%= link_to 'Manage', users_path %><br />
Packages | <%= @package_count %> | <%= link_to 'Manage', packages_path %><br />
Staff | <%= @employee_count %> | <%= link_to 'Manage', employees_path %><br />
<br />

Branches | <%= @branch_count %> | <%= link_to 'Manage', branches_path %><br />
Lockers | <%= @locker_count %> | <%= link_to 'Manage', lockers_path %><br />
Boxes | <%= @box_count %> | <%= link_to 'Manage', boxes_path %><br />
Logs | <%= @log_count %><br />

