<h4>Lockers</h4>

<table class='table table-hover'>
  <thead>
    <tr>
      <th>Branch</th>
      <th>Name</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @lockers.each do |locker| %>
      <tr>
        <td><%= locker.branch.name %></td>
        <td><%= locker.name %></td>
        <td><%= link_to 'Manage Boxes', locker %></td>
        <td><%= link_to 'Sync', sync_locker_path(locker), method: :post %></td>
        <td><%= link_to 'Edit', edit_locker_path(locker) %></td>
        <td><%= link_to 'Destroy', locker, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Locker', new_locker_path %>
