<style>
.logging{ text-align: center }
.loggingNormal{ color: green; }
.loggingWeird { color: orange; }
.loggingError { color: red; }
.loggingFix { color: blue; }
</style>

<h4>Logs</h4>

<table class='logging table table-condensed table-center'>
  <thead>
    <tr>
      <th>Box</th>
      <th>Package</th>
      <th>Time</th>
      <th>Access</th>
      <th>Action Type</th>
	  <th>Description</th>
    </tr>
  </thead>

  <tbody>
    <% @loggings.each do |l| %>
      <tr class='logging<%= l.show_action_type %>'>
        <td><%= l.box.branch.name if l.box %> <%= l.box.locker.name if l.box %> <%= l.box.name if l.box %></td>
        <td><%= l.package.barcode if l.package %></td>
        <td><%= l.request_time %></td>
        <td><%= l.show_access_method %>
        <td><%= l.show_action_type %></td>
        <td style='text-align:left'><%= l.print_sentence %></td>
      </tr>
    <% end %>
  </tbody>
</table>

