<!DOCTYPE html>
<html>
<head>
  <title>GreenLockers</title>
  <%= javascript_include_tag "application" %>
  <%= stylesheet_link_tag    "style.css" %>
  <%= javascript_include_tag "main.js" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
