<h1>Listing trackings</h1>

<table>
  <thead>
    <tr>
      <th>Package</th>
      <th>Employee</th>
      <th>Time</th>
      <th>Type</th>
      <th>Branch</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @trackings.each do |tracking| %>
      <tr>
        <td><%= tracking.package_id %></td>
        <td><%= tracking.employee_id %></td>
        <td><%= tracking.time %></td>
        <td><%= tracking.type %></td>
        <td><%= tracking.branch_id %></td>
        <td><%= link_to 'Show', tracking %></td>
        <td><%= link_to 'Edit', edit_tracking_path(tracking) %></td>
        <td><%= link_to 'Destroy', tracking, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Tracking', new_tracking_path %>
